@import "tailwindcss";

:root {
  --background: #171717;
  --foreground: #ffffff;
  --primary: #50c2ff;
  --secondary: #ff7aad;
  --tertiary: #1a1717;
  --shadow: rgba(255, 255, 255, 0.2);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* hide scrollbar for Firefox */
.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none; /* IE 10+ */
}
